<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function()
            {
                socket = io.connect('http://' + document.domain + ':' + location.port + '/game_room');
                socket.on('connect', function() 
                {
                    socket.emit('join', {});
                });
                
                socket.on('status', function(data) 
                {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('message', function(data) 
                {
                    $('#chat').val($('#chat').val() + ": " + data.msg + '\n');
                    console.log(data.msg);
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                $('#send').click(function(e) 
                {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });

                $('#rock').click(function(e) 
                {
                        socket.emit('selected_option', {msg: "rock"});
                });
                
                $('#paper').click(function(e) 
                {
                        socket.emit('selected_option', {msg: "paper"});
                });

                $('#scissors').click(function(e) 
                {
                        socket.emit('selected_option', {msg: "scissors"});
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    window.location.href = "{{ url_for('register') }}";
                });
            }
        </script>
  </head>

  <body class="text-center">
    
    <div class="chatwindow">
      <h2>User : {{session['username']}}</h2>
      <h2>Room : {{session['room']}}</h2><br>
      <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
      
      <input type="text" id="text" size="60" placeholder="Enter your message here"/>
      
      <button type="button" id="send" class="btn btn-success">SEND</button><br/><br/>

      <button type="button" id="rock" class="btn btn-success">ROCK</button><br/><br/>
      <button type="button" id="paper" class="btn btn-success">PAPER</button><br/><br/>
      <button type="button" id="scissors" class="btn btn-success">SCISSORS</button><br/><br/>

      <button type="button" class="btn btn-danger" onclick=leave_room()>Quit</button>
    </div>
  </body>
</html>