<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function()
            {
                

                socket = io.connect('http://' + document.domain + ':' + location.port + '/game_room');
                socket.on('connect', function() 
                {
                    socket.emit('join', {});
                });
                
                socket.on('status', function(data) 
                {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('message', function(data) 
                {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('score_update', function(data) 
                {
                    if($('#username').text() === data.username)
                    {
                       $('#credits').text(data.score);
                    }
                });

                $('#send').click(function(e) 
                {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                });

                $('#rock').click(function(e) 
                {
                    if(is_enough_credits())
                    {
                        socket.emit('selected_option', {msg: "rock"});
                    }
                    else
                    {
                        not_enough_credits()
                    }
                });

                $('#paper').click(function(e) 
                {
                    
                    if(is_enough_credits())
                    {
                        socket.emit('selected_option', {msg: "paper"});
                    }
                    else
                    {
                        not_enough_credits()
                    }
                });

                $('#scissors').click(function(e) 
                {
                    if(is_enough_credits())
                    {
                        socket.emit('selected_option', {msg: "scissors"});
                    }
                    else
                    {
                        not_enough_credits()
                    }
                });

                $('#add_credits').click(function(e) 
                {
                    socket.emit('credits_request', {msg: "asd"});
                    $('#credits').css("color", "black");
                    $('#add_credits').hide(); 
                });

            });
            
            function not_enough_credits()
            {
                $('#credits').css("color", "red");
                $('#chat').val($('#chat').val() + "Not enough credits\n");
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
                $('#add_credits').show(); 
            }

            function leave_room() 
            {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    window.location.href = "{{ url_for('register') }}";
                });
            }
        
            function is_enough_credits()
            {
                if(parseInt($('#credits').text()) - 3 > 0)
                {
                    return true;
                }
                return false
            }
        </script>
  </head>

  <body class="text-center">
    
    <div class="chatwindow">
      <h2>User : <span id="username">{{session['username']}}</span></h2>
      <h2>Room : {{session['room']}}</h2><br>
      <h2>Credits : <span id="credits">{{session['credits']}}</span></h2><br>
      <button type="button" id="add_credits" class="btn btn-success" hidden>add credits</button><br/><br/>

      <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
      
      <input type="text" id="text" size="60" placeholder="Enter your message here"/>
      
      <button type="button" id="send" class="btn btn-success">SEND</button><br/><br/>

      <button type="button" id="rock" class="btn btn-success">ROCK</button><br/><br/>
      <button type="button" id="paper" class="btn btn-success">PAPER</button><br/><br/>
      <button type="button" id="scissors" class="btn btn-success">SCISSORS</button><br/><br/>

      <button type="button" class="btn btn-danger" onclick=leave_room()>Quit</button>
    </div>
  </body>
</html>