{{session['username']}}

<form action="/logout" method="post">
    <input type="hidden" id="username" name="username" value={{session['username']}}>
    <input type="submit" value="Logout">
</form> 

<form action="/game_room" method="post">
    <label for="room">Insert room name here to start:</label><br>
    <input type="text" id="room" name="room" value=""><br><br>
    <input type="submit" value="Submit">
</form> 

<form action="/stats" method="post">
    <input type="submit" value="Display today's stats">
</form> 

{% if session['error']  %}
<p> {{ session['error'] }} </p>
{% endif %}